{% extends 'base.html.twig' %}

{% block title %}Edit Nomproduit{% endblock %}

{% block body %}
    <h1>Edit Nomproduit</h1>

    {{ include('nomproduit2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nomproduit2_index') }}">back to list</a>

    {{ include('nomproduit2/_delete_form.html.twig') }}
{% endblock %}
